{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Ajouter Photo{% endblock %}
{% block content %}
<div class="container">
    <h1 class="display-4 mb-4">Ajouter une Photo</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
    {% if messages %}
        <div class="alert alert-dismissible fade show mt-3" role="alert">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
</div>
{% endblock %}